<!-- Example row of columns -->
<div class="row">
    <div ng-repeat="meter in meters| orderBy:'dateLastRead':false" class="span4">
        <h2>{{ meter.title }}</h2>

        <div class="well ">
            <p><strong>{{ meter.count }}</strong> {{ meter.unit }}</p>
            <p><span class="badge badge-success">-5%</span> zum Vormonat</p>
            <p><span class="badge badge-important">+8%</span> zum Vorjahresmonat</p>
            <div class="muted">{{ meter.dateLastRead }}</div>
        </div>

        <a class="btn" href="#{{ meter.link }}">Details &raquo;</a>
        <button class="btn btn-success"><i class="icon-plus"></i> Stand erfassen</button>

    </div>
</div>

<div class="row" ng-show="showNewMeterForm">
    <div class="span8">
        <h2>Neuer Zähler</h2>

        <div class="well">
            <form name="newMeterForm" class="form-horizontal" ng-submit="submitNewMeterForm()">

                <div class="control-group">
                    <label class="control-label" for="title">Bezeichnung</label>

                    <div class="controls">
                        <input id="title" type="text" name="title" ng-model="newMeter.title" required
                               placeholder="Name des neuen Zählers">
                        <span class="text-error" ng-show="newMeterForm.title.$error.required"> Bitte ausfüllen</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="count">Zählerstand</label>

                    <div class="controls">
                        <input id="count" type="number" step="any" name="count" ng-model="newMeter.count" required
                               placeholder="Aktueller Stand des Zählers">
                        <span class="text-error" ng-show="newMeterForm.count.$error.required"> Bitte ausfüllen</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="unit">Einheit</label>

                    <div class="controls">
                        <input id="unit" type="text" name="count" ng-model="newMeter.unit"
                               placeholder="Maßeinheit, z.B. kWh oder ㎥">
                        <span class="text-info"> (optional)</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="date">Datum</label>

                    <div class="controls">
                        <input id="date" type="date" name="date" ng-model="newMeter.date"
                               placeholder="Ablesedatum des Zählerstands" required>
                        <span class="text-error" ng-show="newMeterForm.date.$error.required"> Bitte ausfüllen</span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary">Speichern &raquo;</button>
                        <a class="btn" ng-click="showNewMeterForm = false">Abbrechen</a>
                    </div>
                </div>

            </form>
        </div>


    </div>
</div>

<div class="row" ng-show="!showNewMeterForm" style="margin-top: 20px">
    <div class="span12">
        <button class="btn-large btn" ng-click="showNewMeterForm = true"><i class="icon-plus"></i> Zähler hinzufügen
        </button>
    </div>
</div>