<!-- Example row of columns -->
<div class="row">
    <div ng-repeat="meter in meters| orderBy:'dateLastRead':false" class="span4">
        <h2>{{ meter.title }}</h2>

        <div class="well ">
            <p><strong>{{ meter.count }}</strong> {{ meter.unit }}</p>
            <p><span class="badge badge-success">-5%</span> zum Vormonat</p>
            <p><span class="badge badge-important">+8%</span> zum Vorjahresmonat</p>
            <div class="muted">{{ meter.dateLastRead }}</div>
        </div>

        <a class="btn" href="#{{ meter.link }}">Details &raquo;</a>
        <button class="btn btn-success"><i class="icon-plus"></i> Stand erfassen</button>

    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="span12">
        <button class="btn-large btn"><i class="icon-plus"></i> Zähler hinzufügen</button>
    </div>
</div>